.form-container {
    width: 600px;
    margin: 50px auto;
    box-shadow: 5px 5px 50px #909090;
}

.form-lg {
    width: 1200px;
}

.form-header {
    font-size: 4em;
    background-color: #af1641;
    padding: 20px 15px;
    color: #ffffff;
    font-family: logo;
}

.form-body {
    padding: 10px;
    color: #656565;
    background-color: #ffffff;
}

.form-submit {
    width: 100%;
    border-radius: 0;
    height: 50px;
}

textarea.form-control {
    height: auto;
    max-width: 100%;
}