<div class="content-container">
    <form name="ohcUserForm" novalidate ng-submit="vm.saveOhcUser()"
          notify-validation-errors allow-programmatic-submit>
        <div class="component-section mod-margin-top mod-margin-bottom-large">
            <div class="container-title">
                <div class="container-description">
                    <div class="container-header-title-holder">
                        <h2 class="container-header-title">User Profile</h2>
                    </div>
                </div>
            </div>
            <div class="container-body">
                <div class="row">
                    <div class="col-md-12">
                        <form-field title="First Name">
                            <input type="text" class="form-control" required maxlength="50"
                                   ng-model="vm.ohcUser.firstName" />
                        </form-field>
                    </div>
                    <div class="col-md-12">
                        <form-field title="Last Name">
                            <input type="text" class="form-control" required maxlength="50"
                                   ng-model="vm.ohcUser.lastName" />
                        </form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-24">
                        <form-field title="Title">
                            <input type="text" class="form-control" maxlength="50"
                                   ng-model="vm.ohcUser.title" />
                        </form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form-field title="Email" validation-messages="vm.remoteValidation.email.message" show-message-on-blur>
                            <input type="email" class="form-control" name="email" required maxlength="50"
                                   ng-remote-validate="{{vm.remoteValidation.email.url}}"
                                   ng-remote-method="GET"
                                   ng-model="vm.ohcUser.email" />
                        </form-field>
                    </div>
                    <div class="col-md-12">
                        <form-field title="Phone">
                            <input type="text" class="form-control" maxlength="50"
                                   ng-model="vm.ohcUser.phoneNumber" />
                        </form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form-field title="Username" validation-messages="vm.remoteValidation.username.message" show-message-on-blur>
                            <input type="text" class="form-control" name="username" required maxlength="50"
                                   ng-disabled="!vm.ohcUser.email"
                                   ng-remote-validate="{{vm.remoteValidation.username.url}}"
                                   ng-remote-method="GET"
                                   ng-model="vm.ohcUser.username" />
                        </form-field>
                    </div>
                    <div class="col-md-12">
                        <form-field title="Login Time Rule">
                            <select class="form-control" aurora-select ng-model="vm.ohcUser.intervalId" required
                                    ng-options="interval.id as interval.name for interval in vm.intervals">
                                <option value="" disabled>- Make a selection -</option>
                            </select>
                        </form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-24">
                        <edit-user-image user="vm.ohcUser"></edit-user-image>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-24">
                        <label class="ohc-user-state-switch mod-margin-top-small">
                            <span class="title mod-margin-right">Active</span>
                            <span class="checkbox-replacement-on-off checkbox-replacement-inline">
                                <input id="checkboxOnOff" type="checkbox" checked ng-model="vm.ohcUser.isActive">
                                <label for="checkboxOnOff" class="input-helper input-helper-checkbox">&nbsp;</label>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-24">
                        <form-field title="{{::vm.labels.department.singular}}/{{::vm.labels.division.singular}}">
                            <!-- TODO: Validate removing and changing -->
                            <lookup-input required
                                          multiselect
                                          name="department"
                                          title="{{::vm.labels.department.singular}}/{{::vm.labels.division.singular}}"
                                          placeholder-text="Find a {{::vm.labels.department.singular | lowercase}}/{{::vm.labels.division.singular | lowercase}}"
                                          ng-model="vm.ohcUser.departments"
                                          autocomplete-url="{{vm.depAutocomplete.url}}"
                                          grid-url="{{vm.depAutocomplete.gridUrl}}"
                                          id-expression="{{vm.depAutocomplete.idExpression}}"
                                          text-expression="{{vm.depAutocomplete.textExpression}}"
                                          lookup-modal-fields="vm.depAutocomplete.lookupFields"
                                          auto-complete-template="departments-dropdown-template"
                                          auto-complete-header-template="departments-dropdown-header-template" />
                        </form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="component-section mod-margin-bottom-large">
            <div class="container-title">
                <div class="container-description">
                    <div class="container-header-title-holder">
                        <h2 class="container-header-title">Roles</h2>
                    </div>
                </div>
            </div>
            <div class="container-body">
                <div class="row">
                    <div class="col-md-24">
                        <span class="checkbox-replacement">
                            <input id="checkbox-input-1" type="checkbox"
                                   ng-disabled="vm.ohcUser.ishrLiaison"
                                   ng-model="vm.ohcUser.isOriginator" />
                            <label for="checkbox-input-1" class="input-helper input-helper-checkbox">Originator</label>
                        </span>
                        <span class="checkbox-replacement">
                            <input id="checkbox-input-2" type="checkbox"
                                   ng-disabled="vm.ohcUser.isOriginator"
                                   ng-model="vm.ohcUser.ishrLiaison" />
                            <label for="checkbox-input-2" class="input-helper input-helper-checkbox">HR Liaison</label>
                        </span>
                        <span class="checkbox-replacement">
                            <input id="checkbox-input-10" type="checkbox" ng-model="vm.ohcUser.isRater" />
                            <label for="checkbox-input-10" class="input-helper input-helper-checkbox">Rater</label>
                        </span>
                        <span class="checkbox-replacement">
                            <input id="checkbox-input-3" type="checkbox" ng-model="vm.ohcUser.isHiringManager" />
                            <label for="checkbox-input-3" class="input-helper input-helper-checkbox">Hiring Manager</label>
                        </span>
                        <span class="checkbox-replacement">
                            <input id="checkbox-input-4" type="checkbox"
                                   ng-model="vm.ohcUser.isSme"
                                   ng-change="vm.resetSmeActions()" />
                            <label for="checkbox-input-4" class="input-helper input-helper-checkbox">{{::vm.labels.sme.singular}}</label>
                        </span>
                        <span class="checkbox-replacement mod-margin-left">
                            <input id="checkbox-input-5" type="checkbox"
                                   ng-disabled="!vm.ohcUser.isSme"
                                   ng-model="vm.ohcUser.canViewPii" />
                            <label for="checkbox-input-5" class="input-helper input-helper-checkbox">
                                View Personally Identifiable Information only for {{::vm.labels.sme.singular}} Reviews
                            </label>
                        </span>
                        <span class="checkbox-replacement mod-margin-left">
                            <input id="checkbox-input-6" type="checkbox"
                                   ng-disabled="!vm.ohcUser.isSme"
                                   ng-model="vm.ohcUser.canViewOtherSmeRatings" />
                            <label for="checkbox-input-6" class="input-helper input-helper-checkbox">
                                View Other {{::vm.labels.sme.singular}} Ratings
                            </label>
                        </span>
                        <span class="checkbox-replacement">
                            <input id="checkbox-input-7" type="checkbox" ng-model="vm.ohcUser.isApprover" />
                            <label for="checkbox-input-7" class="input-helper input-helper-checkbox">Approver</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<aurora-template src="shared/templates/departmentsDropdown"></aurora-template>
