<div class="form-container">
    <h2 class="form-header">Login to your account:</h2>
    <form id="login-form" role="form" name="loginForm">
        <div class="form-body">
            <div class="form-group"
                 data-ng-class="{'has-error': loginForm.login.$touched && loginForm.login.$invalid}">
                <label for="login" class="control-label">Login:</label>

                <input type="text" id="login"
                       data-ng-model="model.user.username" class="form-control" name="login"
                       placeholder="Login"
                       pattern="[a-zA-Z0-9_]+"
                       aria-describedby="login_error"
                       data-ng-maxlength="20" required>
                <div class="help-block" id="login-error">
                    <span data-ng-show="loginForm.login.$touched && loginForm.login.$error.pattern">
                        Login can contain letters, digits and _ symbol.
                    </span>
                    <span data-ng-show="loginForm.login.$touched && loginForm.login.$error.required">
                        Login is required.
                    </span>
                    <span data-ng-show="loginForm.login.$touched && loginForm.login.$error.maxlength">
                        Login can't be greater than 20 characters.
                    </span>
                </div>

            </div>
            <div class="form-group"
                 data-ng-class="{'has-error': loginForm.password.$touched && loginForm.password.$invalid}">
                <label for="password" class="control-label">Password</label>

                <input type="password" id="password"
                       data-ng-model="model.user.password" class="form-control" name="password"
                       placeholder="Password"
                       aria-describedby="pass-error"
                       pattern="[a-zA-Z0-9_]+"
                       data-ng-maxlength="20" required>
                <div class="help-block" id="pass-error">
                    <span data-ng-show="loginForm.password.$touched && loginForm.password.$error.pattern">
                        Password can contain letters, digits and _ symbol.
                    </span>
                    <span data-ng-show="loginForm.password.$touched && loginForm.password.$error.required">
                        Password is required.
                    </span>
                    <span data-ng-show="loginForm.password.$touched && loginForm.password.$error.maxlength">
                        Password can't be greater than 20 characters.
                    </span>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" title="Remember me" data-ng-model="model.rememberMe">
                    Remember me
                </label>
            </div>
        </div>
        <button class="btn btn-success form-submit" data-ng-click="login()">
            Log in
        </button>
    </form>
</div>